.slider-movies {
  height: 590px;

  &__movie {
    height: 590px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-info {
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 40px;

      > div {
        border-radius: 10px;
        background-color: #c7c7c7cf;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        padding: 20px;
      }
    }
  }
}
